.grid {
  margin: 5%;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}
.grid-container {
  overflow-x: auto; /* Activează scroll-ul orizontal */
  white-space: nowrap; /* Previne înfășurarea nodurilor pe mai multe linii */
  max-width: 100%; /* Asigură că containerul nu depășește lățimea ferestrei vizibile */
}